.template-uol-view {
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.news {
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1%;
}

.news .news-content {
    width: 137%;
    height: 75%;
    color: white;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 50%;
    overflow: hidden;
    margin-left: -40%;
    margin-bottom: -40%; 
    bottom: 0;
    position: absolute;    
}

.type {
    margin-top: 15%;
    margin-bottom: 2%;
    text-align: start;
    padding-left: 33%;
    font-weight: bold;
    font-size: 4vh;
    text-transform: uppercase;
}

.title {
    margin-top: 0;
    font-size: 3vh;
    font-weight: lighter;
    padding-left: 33%;
    padding-right: 10%;
    text-align: start;
}

.date {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    padding: 1vw;
}

.date h2 {
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 0;
}

.date h3 {
    font-size: 3vw;
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: 2%;
}

.logos {
    width: 100%;
}

.logos .uol {
    width: 20%;
    height: 20%;
    margin-top: 1%;
    margin-left: 1%;
    float: left;
}

.logos .admooh {
    max-width: 20%;
    max-height: 20%;
    width: 15%;
    height: 15%;
    margin-top: 1%;
    margin-right: 1%;
    float: right
}